# Core scientific stack
# ASE >= 3.28.0 is currently incompatible.
ase==3.27.0
numpy
scipy
pandas
matplotlib
seaborn

# Electronic structure / optimization
pyscf
sella==2.3.5
orb_models==0.5.5

pydmf

# Semi-empirical backend
tblite

# GPU acceleration (optional)
# gpu4pyscf
# cupy
